#buttonWrapper{
    width: 100%;
    display:flex;
    justify-content: center;
}

#quizWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.optionBtn{
    min-width: 200px;
    width: 200px;
    height: 200px;
    font-size: 25px;
    color: white;
    background-color: hsl(75, 10%, 40%);
    border-radius: 10px;
    text-align: center;
    overflow: wrap;
    letter-spacing: 2px;
    padding: 8px;
    margin: 0px 20px;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;

    &:hover{
        background-color: #B7B7A4;
        border-color: #6B705C;
    }
}

#battleNumber{
    font-size: 20px;
    font-family: "Verdana";
    text-align: center;
    margin-top: 10px;
}


::ng-deep .progress {
    background-color: #FFE8D6 !important;
    width: 500px !important;
    border: 1px #6B705C solid;
    color: blue !important;
}
::ng-deep .progress-bar {
    background-color: #CB997E !important;
}

#progressTracker{
    display: flex;
}
#progressId{
    margin-left: 7px;
    margin-top: -5px;
}

#chartWrapper{
    width: 650px;

    padding: 15px;

}

#playerWrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
iframe{
    margin: 70px;
}