<div class="header">
    <h1>Song Sort</h1>
</div>

<div class="content">
    <div class="intro">
        <p>Welcome to the song sorter! <br/> Once you enter a playlist link below, you will be asked to choose between two songs until we can determine a definitive ranking of each song on the playlist. <br/> Once you are on the sorting page, be sure that you don't go back or refresh the page. <strong>You will lose all your progress.</strong> Choose your favorite of the two songs displayed and try not to choose the neutral option too often, or your sort won't be as accurate.</p>
    </div>
    <playlist-form (playlistID)="getPlaylistId($event)"></playlist-form>
    <router-outlet></router-outlet>
</div>
