<div id="form-wrapper">
    <div class="text">
        <p>What music do you want to rank?</p>
    </div>
    <div class="centerChildren">
        <button class="btn" (click)="clickTaylor()">Taylor Swift</button>
        <button class="btn" (click)="clickOther()">Other</button>
    </div>
    
    <div *ngIf="choseOther">
        <p class="text">Enter the Spotify URL to the playlist you want to rank</p>
        <div class="centerChildren">
           <form (submit)="clickStart()">
                <input type="text" id="playlistLink" class="playlistIdInput" [(ngModel)]="playlistLink" [ngModelOptions]="{standalone: true}">
                <button class="btn" (click)="clickStart()">Start Sorting</button>
           </form>
        </div>
    
        <div *ngIf="hasError" class="error">
            <p class="text errorText">Oh no! Your URL is not valid. See the URL below as a valid example of a Spotify playlist URL.</p>
            <p>https://open.spotify.com/playlist/6Wn5IdrI8VcwOhknR7hBkS</p>
        </div>
    </div>
</div>
